html, body{
  margin: 0;
  height: 100%;
  overflow: auto;
  background-image: linear-gradient(141deg,#dfd8d9 0,#f5f5f5 71%,#fff 100%);
}
.home-page{
  font-family:'Fira Mono', monospace;
}
.fa-soundcloud:hover{
  color: #ff8800;
}
.fa-linkedin:hover{
  color: #0077B5;
}
.fa-github:hover{
  color:#990000;
}
.portolio-page{
  font-family:'Fira Mono';
}

.recentProjIcon{
  padding-right:10px;
}

.navbar{
  font-family:'Fira Mono', monospace;
  font-size:1.3em;
  font-weight:400;
  letter-spacing:.0625em;
  line-height:1.8em;
  background-color: rgba(1, 1, 1, 0);
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover{
  background-color: rgba(1,1,1,0);
}
.navbar-burger{
  color:#363636;
}
.navbar-burger:hover{
  color:#3273dc;
  background-color: rgba(1,1,1,0);
}

.active-nav-page{
  color:white;
  background-color: #363636;
}

.social-links a{
  color:#363636;
}

.intro{
  font-family:'Fira Mono', monospace;
  font-size:1.3em;
  font-weight:400;
  letter-spacing:.0625em;
  line-height:1.8em;
}
.type_bois_container{
  margin-top:-18px;
  height:50px;
}

.type_bois_container .subtitle{
  font-size: 1.45rem;
  color:white;
  background-color: #363636;
  line-height: 3rem;
}

.type_bois_container{
  height:80px;
}

@media only screen and (max-width: 900px) {
  .type_bois_container{
    display:none;
  }
}

.portfolio-divider{
  background-color:#363636;
}

.portfolio{
  margin-bottom: 50px;
}

/* Hover CSS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow-porfolio {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.5);
}

.hvr-grow-porfolio:hover,
.hvr-grow-porfolio:focus,
.hvr-grow-porfolio:active {
  transform: scale(1.1);
}

#porfolio-viz{
  background-color: aquamarine;
  height: calc(100% - 52px);
  width:100%;
}


